{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body align="center">
        <h1>Bem vindo a Pagina {{title}}</h1>
        <table align=center id="tabela">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td><a href="{% url 'estoque' produto.id %}">{{produto.id}}</a></td>
                    <td>{{produto.nome}}</td>
                    <td>R$:{{produto.valor}}</td>
                </tr>
            </tbody>
                {% endfor %}
        </table>

        <button onclick="teste();">Click-me</button>

        <script text="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
</html>